<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Kalpana Chawla - About</title>
    <link rel="stylesheet" href="../stylesheet/style.css" />
  </head>
  <body>
    <h1>About</h1>
    <div>
      <p>Kalpana Chawla (17 March 1962 – 1 February 2003) was an Indian-born American astronaut and aerospace engineer who was the first woman of Indian origin to fly to space.<br/>
        She first flew on Space Shuttle Columbia in 1997 as a mission specialist and primary robotic arm operator.<br/>

        Chawla's second flight was on STS-107, the final flight of Columbia, in 2003. She was one of the seven crew members who died in the Space Shuttle Columbia disaster when the spacecraft disintegrated during its re-entry into the Earth's atmosphere on 1 February 2003.<br/>
        Chawla was posthumously awarded the Congressional Space Medal of Honor, and several streets, universities, and institutions have been named in her honor.</p>
    </div>

    <a href="/home">Home</a>
    <a href="/works">Career</a>    
  </body>
</html>
